* {
    margin: 10px;
    padding: 10px;
    /* prevenimos overflow */
    box-sizing: border-box;
}


/* CLASES PARA EL CONTENEDOR PADRE */

.padre {
    display: flex;
    flex-flow: column nowrap;
}


/* CLASES PARA EL HEADER */

.header {
    background-color: #000;
    display: flex;
    flex-flow: column nowrap;
}

.menu {
    background-color: #2d4059;
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center;
}

.logo {
    background-color: #ea5455;
    flex: 1 1 auto;
    height: 30px;
}

.nav {
    background-color: #ea5455;
    flex: 5 1 auto;
    height: 30px;
}

.social {
    background-color: #ea5455;
    flex: 1 1 auto;
    height: 30px;
}

.texto-principal {
    background-color: #f07b3f;
}

h1 {
    background-color: #ffd460;
}


/* CLASES PARA EL CONTENIDO */

.section {
    background-color: #000;
    display: flex;
}

.articulos {
    background-color: #4e4e6a;
    flex: 2 1 auto;
    display: flex;
    /* wrap va a bajar los elementos si es que no caben en horizontal */
    flex-flow: row wrap;
}

.article {
    background-color: #1f6bc0;
    flex: 1 1 40%;
}

.navegacion {
    background-color: #70a3c4;
    flex: 1 1 100%;
}

.aside {
    background-color: #f73f52;
    flex: 1 1 auto;
}

.publicidad {
    background-color: #ffea85;
}


/* CLASES PARA EL FOOTER */

.footer {
    background-color: #000;
    display: flex;
    justify-content: center;
}

.pie {
    background-color: #e6af2e;
    width: 300px;
}

@media all and (max-width: 800px) {
    .menu {
        flex-direction: column;
        height: auto;
    }
    .section {
        flex-direction: column;
    }
    .aside {
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 600px) {
    .articulos {
        flex-direction: column;
    }
}

@media all and (max-width: 400px) {
    .aside {
        flex-direction: column;
    }
}